<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/styles.css}" rel="stylesheet" />
<title>Spring Boot 3.0.0 Thymeleaf Users</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
	<tr th:each="user : ${users}">
		<td th:text="${user.id}">1</td>
		<td th:text="${user.username}">Title ...</td>
		<td th:text="${user.password}">Text ...</td>
		<td th:text="${user.firstName}">Text ...</td>
		<td th:text="${user.lastName}">Text ...</td>
		<td th:text="${user.emailAddress}">Text ...</td>
	</tr>
</table>
<p><a href="/">Home</a></p>
</body>
</html>